/* HEADER */
.menu{
	display: inline-block;
	text-decoration: none;
	margin-left: 49px; 
}

/* SECTION */
.uno{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}
.logo {
    padding-left: 355px;
    padding-top: 76px;
    padding-bottom: 75px;
}
.titulo, .subtitulo {
	color: #FFFFFF;
}
/*SECTION2*/
.dos {
	background-image: url("../images/tile1.png");
	background-repeat: repeat;
	background-position: center;
	margin-top: 0px;
}
.img {
	border: 1px solid #000000;
	padding: 3px;	
}
h4, h5 {
	color: #8F03E3;
}
/*SECTION3*/
.gato {
	border: 2px solid #AD48EA;
	border-radius: 50%;
	padding: 3px;
	width: 212px;
}
/* FOOTER */
footer {
	background-image: url("../images/tile2.png");
	background-repeat: repeat;
	background-position: center;
}
.redes{
	padding: 0px 62px 60px 70px;
}